# Dependencies
node_modules/
.pnp
.pnp.js

# Build output
dist/
tmp/
out-tsc/
bazel-out/

# Angular cache
.angular/

# IDE
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Misc
.DS_Store
Thumbs.db
*.log
npm-debug.log*

# Environment
.env
.env.local
